<section class="content login-content" style="margin: 10% auto">
  <div class="darkBrown login-logo">
    <b>CoffeeTips</b> | Login
  </div>
  <div class="col-xs-12 col-sm-offset-3 col-sm-6 login-box-body">
    <p class="darkBrown login-box-msg">Por favor, efetue o login para continuar</p>

    <form>      
      <div class="form-group has-feedback">
        <input type="email" class="form-control" placeholder="Email">
        <span class="darkBrown glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Password">
        <span class="darkBrown glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-offset-8 col-xs-4">
          <button type="submit" class="btn btnColor btn-block btn-flat" [routerLink]="['/home']">Entrar</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
  </div>
</section>