.EditLogo{
    margin-left: 46%;
    margin-top: 1%;
    text-align: center;
}

.inputProfile{
    width: 60%;
}

.inputEmail{
    margin-left: 6%
}

.marginPayment{
    margin-left: 18.67%;
}

label {
    display: block;
}