<section class="content-header darkBrown">
  <h1>
      Cadastre seu novo produto {{nameCoffeeShop}}
  </h1>
</section>
<section class="content">
  <section class="invoice">
      <form  [formGroup]="productForm" class="form-horizontal" novalidate>
          <div class="col-xs-12">
            <img class="profile-user-img img-responsive img-circle" src="../../assets/img/foods/espreso.png" alt="User profile picture">

            <input type="file" formControlName="imgLogo" (change)="onFileSelected($event)" style="display: none" #inputFile>
            <button class="EditLogo darkBrown" type="button" (click)="inputFile.click()">Editar imagem</button>              
            <h3 class="profile-username text-center">{{inputNameProduct.value}}</h3>
        </div>
        
        <ctd-input-container errorMessage="Campo Obrigatório e com 5 caracteres" label="* Nome">
          <input class="form-control inputProfile" #inputNameProduct formControlName="name" placeholder="Nome do produto" autocomplete="off">
        </ctd-input-container>
        
        <ctd-input-container errorMessage="Campo Obrigatório" label="* Descrição">            
          <textarea class="form-control inputProfile" formControlName="description" placeholder="O que é o produto?"  autocomplete="off"></textarea>
        </ctd-input-container>

        <ctd-input-container errorMessage="Campo Obrigatório" label="* Ingredientes">
          <input class="form-control inputProfile" formControlName="ingredients" placeholder="Quais ingredientes o produto contêm?" autocomplete="off">
        </ctd-input-container>  
        
        <div class="form-group" style="margin-left: auto;">          
          <label for="inputSuccess" class="col-sm-2 control-label darkBrown" style="width: 18%;">* Status do Produto:</label>

          <div class="form-group">
              <ctd-radio [options]="statusProducts" formControlName="statusProduct"></ctd-radio>
          </div>
                
        </div>
      </form>
     
      <div class="row corazul">
          <div class="col-sm-offset-2 col-sm-10 cor17">              
            <button (click)="checkProduct(productForm.value)" class="btn btnColor" 
            [disabled]="!productForm.valid">
            <i class="fa fa-save" style="padding-right: 10%;"></i>  Salvar
          </button>
          </div>
        </div>      
  </section>
</section>